.header {
  background-color: #3f4042;
  color: white;
  text-align: center;
  padding: 20px;
 
}

.nav1, .nav2 {
  text-align: center;
  margin: 10px 0;
}

.nav1 a, .nav2 a {
  margin: 0 10px;
  text-decoration: none;
  color: #4a90e2;
}

.signup-tutor, .signup-parent, .search-tutors {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-style: dotted;
}

.signup-parent h1 {
  color: black;
  font-size: 24px; /* Specify font size */
  font-weight: bold; /* Add bold weight */
  text-align: center; /* Center align the text */
  margin: 20px 0; /* Add margin */
}